* {
    margin: 0;
    text-decoration: none;
}

body {
    background-color: #D2D2D2;
    font-family: "Comic Neue", cursive;
}

header {
    background-color: #184144;
    color: #fff;
    display: grid;
    grid-template-columns: 15% 85%;
}

.menu .menu-botao {
    position: absolute;
    z-index: 1000;
    width: 35px;
    height: 35px;
    opacity: 0;
    cursor: pointer;
}

.menu-botao {
    padding: 15px 0 0 15px;
}

.lista-rodape {
    display: flex;
    flex-wrap: wrap;
}

.menu {
    padding-top: 15px;
    padding-left: 15px;
}

.menu .menu-linha {
    position: absolute;
    z-index: 999;
    width: 35px;
    height: 35px;
}

.menu .menu-linha span {
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 3px;
    transition: all ease .2s;
}

.menu .menu-botao:checked~.menu-linha span {
    background-color: #253c3d;
}

.menu .menu-botao:checked~.menu-linha span:nth-child(1) {
    transform-origin: 0% 0%;
    transform: rotate(45deg) scaleX(1.25);
}

.menu .menu-botao:checked~.menu-linha span:nth-child(2) {
    opacity: 0;
}

.menu .menu-botao:checked~.menu-linha span:nth-child(3) {
    transform-origin: 0% 100%;
    transform: rotate(-45deg) scaleX(1.25);
}

.menu ul {
    position: absolute;
    z-index: 998;
    left: 0;
    top: 0;
    width: 300px;
    padding: 0;
    padding-top: 100px;
    background-color: #3a787c;
    margin-left: -300px;
    padding-bottom: 20px;
    transition: all ease 0.2s;
    border-bottom-right-radius: 20px;
}

.menu .menu-botao:checked~ul {
    margin-left: 0;
}

.menu ul li {
    padding: 10px 30px;
}

.menu ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 22px;
    transition: all ease .3s;
}

.menu ul li a:hover {
    color: #fff;
}

nav a {
    position: relative;
}

nav a::after {
    content: " ";
    width: 0%;
    height: 4px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: ease-in-out .5s;
}

nav a:hover::after {
    width: 100%;
}

.logo img {
    left: 70px;
    width: 66px;
    height: 66px;
    padding: 10px;
}

.logo-texto {
    display: flex;
    align-items: center;
    text-align: center;
}

.texto-logo {
    color: #ffffff;
    font-size: 20px;
}


.fotos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    margin: 0 50px;
}


.flip {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 1s ease;
    transform-style: preserve-3d;
}

.frente,
.tras {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50px;
}

a{
    color: #252525;
}

.frente {
    z-index: 2;
    backface-visibility: hidden;
}

.tras {
    backface-visibility: hidden;
    background-color: #757575;
    z-index: 1;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.tras p {
    text-align: center;
}

.container:hover .flip {
    transform: rotateY(180deg);
}

.container {
    position: relative;
    margin: 5px;
    height: 300px;
    width: 300px;
}
.pamonha{
    background-size: cover;
    background-position: center;
    background-image: url(/img/Pamonha.jpg);
}

.pao{
    background-size: cover;
    background-position: center;
    background-image: url(/img/pao.webp);
}

.feijao {
    background-size: cover;
    background-position: center;
    background-image: url(/img/feijao.webp);
}

.italiana {
    background-size: cover;
    background-position: center;
    background-image: url(/img/italiana.jpg);
}

.japonesa{
    background-size: cover;
    background-position: center;
    background-image: url(/img/japonesa.jpg);
}

.arabe {
    background-size: cover;
    background-position: center;
    background-image: url(/img/arabe.png);
}

.imagem-clique{
    color: #757575;
    margin-left: 20px;
}

.imagem-clique{
    color: #828282;
    margin-left: 20px;
    
}

.rural h1{
    text-align: center;
    margin: 20px 0 0 0;
}

.rural h1, h2, p{
    margin-left: 15px;
}
footer{
    background-color: #184144;
    color: #FFFF;
    padding:20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-link{
    text-decoration: none;
    color: white;
    font-size: 28px;
    margin:  0 30px ;
}

.criadora{
    font-size: 20px;
    padding: 20px;
}
@media screen and (min-width: 750px) and (max-width: 1023px) {
    .fotos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    p,
    li {
        text-align: justify;
        font-size: 23px;
    }

    ul {
        padding: 0 50px;
    }

    .definiçao {
        margin: 0 50px;
    }

    h2 {
        margin: 10px 50px;
        font-size: 28px;
    }

    .caracteristicas {
        margin: 0 50px 5px 50px;
    }

    h1 {
        text-align: center;
        margin: 20px 0;
        font-size: 32px;
    
    }
    .imagem-clique{
        color: #828282;
        margin-left: 30px;
        
    }

}
@media screen and (min-width: 1024px) {
    header {
        background-color: #184144;
        color: #fff;
        display: grid;
        grid-template-columns: 5% 95%;
    }

    .texto-logo{
        font-size: 32px;
    }

    .logo img{
        width: 88px;
        height: 88px;
    }
.fotos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    p,
    li {
        text-align: justify;
        font-size: 23px;
    }

    ul {
        padding: 0 50px 0 75px;
    }

    .definiçao {
        margin: 0 50px;
    }

    h2 {
        margin: 30px 50px 20px;
        font-size: 28px;
    }

    .caracteristicas {
        margin: 0 50px 5px 50px;
    }

    h1 {
        text-align: center;
        margin: 20px 0;
        font-size: 32px;
    }

    .imagem-clique{
        color: #828282;
        margin-left: 50px;
        
    }

}